body {
    font-family: Arial;
    margin: 50px;
}

h1,
h2 {
    text-align: center;
}

img {
    max-width: 100%;
    grid-row: 1/5;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 20px;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.detalhe {
    font-style: italic;
    color: #555;
}

.PageIcon {
    width: fit-content;
    height: 100px;
    margin: auto;
    display: block;
}

.productBuy {
    background-color: #110C1F;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    display: block;
    width: fit-content;
    margin: 20px auto 0;
}

.return {
    background-color: #110C1F;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    display: block;
    width: fit-content;
    margin-top:40px;
}