body {
    font-family: Arial;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    width: 100%;
}

.product {
    background-color: #ffffff;
    display: grid;
    border: 1px solid #bbb;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.ProductTitle {
    text-align: center;
    color: #110C1F;
    width: 100%;
    padding: 20px;
}

.img {
    max-width: 80%;
    height: fit-content;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}

.PageIcon {
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
}

.ProductPrice {
    font-size: 1.2rem;
    color: #110C1F;
    margin: 10px 0;
    padding: 20px;
    margin-top: 20px;
}

.ProductBuy {
    background-color: #110C1F;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 20px auto 0;
}